.banner {
    background-color: #f8c471;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.titulo-empresa {
    text-align: center;
    margin: 20px 0;
}

.titulo-empresa h1 {
    font-size: 36px;
    color: #2e4053;
}

.galeria {
    text-align: center;
    margin-bottom: 40px;
}

.galeria h2 {
    font-size: 28px;
    color: #2874a6;
    margin-bottom: 20px;
}

.fotos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.fotos img {
    width: 150px; 
    height: auto;
    margin: 10px;
    border-radius: 8px; 
}

.mision-vision {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.mision, .vision {
    width: 45%;
    background-color: #f4f6f6;
    padding: 20px;
    border-radius: 10px;
}

.mision h2, .vision h2 {
    font-size: 26px;
    color: #d35400;
}

.mision p, .vision p {
    font-size: 18px;
    color: #34495e;
    text-align: justify;
}

.contacto {
    text-align: center;
    margin: 40px 0;
}

.contacto h2 {
    font-size: 24px;
    color: #2874a6;
}

.contacto p {
    font-size: 18px;
    color: #2c3e50;
}

.enlace-productos {
    display: block;
    text-align: center;
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    margin: 30px auto;
    width: 200px;
    border-radius: 5px;
    text-decoration: none;
}

.enlace-productos:hover {
    background-color: #1f618d;
}
